@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(2, 1, 22) 0%, rgb(15, 116, 188) 9%, rgba(0, 212, 255, 1) 81%);
    font-family: 'Poppins', sans-serif;
}

.image-width {
    max-width: 23% !important;
}
