@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Poppins', sans-serif;
}

.image-width {
    max-width: 23% !important;
}

.recipe-labels {
    font-size: 13px;
}
